.schedule{

	min-height: 200px;
	

}

.day-box{
	padding: 2%;
	border: double white 3px;
	border-radius: 15px;
	box-shadow: 0px 4px 5px 1px black;
	position: relative;
	float: right;
	display: flex;
	width: 45%;
	background-color: silver;
	flex-direction: column;
	margin-bottom: 10px;
}

.newActs{
	background-color: silver;


}