
<app-day-view class="day-view" [currentMonth]="currentMonth" [currentDay]="currentDay" (ActivityAdded)="OnActAdded($event)"></app-day-view>



	



<div class="day-title-holder">
	<p class="day-titles" 
		*ngFor = "let string of daysOfTheWeek; let i = index"> {{daysOfTheWeek[i]}} 
	</p> 
	</div>

<div class="day-container">
	<div class="lead-up-days days" 
		*ngFor = "let day of leadingDays; let i = index"
			(click)="showDay(day)" > 
			<h3 class="date-number">{{day.date.split(" ")[1].replace(",", "")}}</h3> 
			<hr>
			<p *ngFor = "let item of day.schedule; let i = index">
				{{day.schedule[i].time}}
				{{day.schedule[i].icon}}
				{{day.schedule[i].name}}
				
			</p> 
			
		</div>

	<div class="days" 
		*ngFor = "let day of daysOftheMonth; let i = index" 
			(click)="showDay(day)" > 
		<h3 class="date-number">{{day.date.split(" ")[1].replace(",", "")}}</h3> 
		<hr>
		<p *ngFor = "let items of day.schedule; let i = index">
				{{day.schedule[i].time}}
				{{day.schedule[i].icon}}
				{{day.schedule[i].name}}
			</p>
		
		</div>

	<div class="days outro-days"
		*ngFor = "let day of outroDays; let i = index"
			(click)="showDay(day)" >
			<h3 class="date-number"> {{day.date.split(" ")[1].replace(",", "")}} </h3>
			<hr>
			<p *ngFor = "let items of day.schedule; let i = index">
				{{day.schedule[i].time}}
				{{day.schedule[i].icon}}
				{{day.schedule[i].name}}
			</p>
		
		
	</div>

</div>